Source: neuca-guest-tools
Maintainer: Victor J. Orlikowski <vjo@duke.edu>
Section: misc
Priority: optional
Standards-Version: 3.9.7
Build-Depends: debhelper (>= 9), python (>= 2.6), dh-python

Package: neuca-guest-tools
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-boto, python-daemon, python-ipaddr, python-netaddr, open-iscsi
Description: NEuca guest tools for ExoGENI VMs
 The NEuca guest tools provide post-boot customization
 and configuration for ExoGENI VMs.
