#!/usr/bin/make -f
#export DH_VERBOSE=1

export PYBUILD_NAME=neuca_guest_tools

%:
	dh $@ --with python2 --buildsystem=pybuild


DEB_PYTHON2_MODULE_PACKAGES:=neuca-guest-tools
DEB_DH_INSTALLINIT_ARGS:=--name=neuca --no-start
